@using GuessBender_2024.Dtos.LeagueDtos
	

@model CreateLeagueDto
@{
	ViewData["Title"] = "CreateLeague";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
	<div class="container-fluid">

		<!-- start page title -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Toplu Lig ekleme</h4>
						<p class="card-subtitle mb-4">Takım ile ilgili temel bilgileri eksiksiz doldurunuz.</p>
						<code>Takım Adı, Kısaltma, Ülke idsi,Logo idsi,Logo urlsi \n</code>
						<form method="post">
							<div class="form-group">
								<label for="exampleInputModel">Ligler</label>
								<textarea class="form-control" asp-for="Name"></textarea>
							</div>
							
							<button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div> 